.layui-col-md4
  .layui-card
    .layui-card-header
      strong 最新公告
    .layui-card-body.announce
      p
        a(href="/") 刚刚发表了一篇关于js的博客
      p
        a(href="/") 今天天气真好，出来钓鱼
      p
        a(href="/") 当今IT发展趋势
      p
        a(href="/") 关于node的坑